<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <appSettings>
    <add key="BranchIds" value="1,2,3,4,5,6,7,8,9,10,11"/>
     <add key="BranchNames" value="Austin,Dallas,San Antonio,Lubbock,Houston,Midland,Nacogdoches,Baltimore,Reno,Arizona,Bryan"/>

     <add key="ErrorFolder" value="D:\GNS\FreshFoodRecommendedQuantityUtilityCSharp\ErrorFileOOS"/>
     <add key="ErrorFile" value="D:\GNS\FreshFoodRecommendedQuantityUtilityCSharp\ErrorFile\ErrorOOS.txt"/>

     <add key="FromAddress" value=""/>
     <add key="FromPassword" value="Fk7Fd70k1!F6"/>

     <add key="DWTableName" value="dbo.zeropicoutofstock"/>
     <add key="StagingTableName" value="dbo.zeropicoutofstock"/>
     
     <!--<add key="ToAddress" value="no-reply@accentfoods.com" smitas@globalnestsolutions.com gnsadmin@accentfoods.com/>-->
     <add key="ToAddress" value="prasadgound1@gmail.com"/>
  </appSettings>
  <connectionStrings>
    <add name="LightSpeedServerConn" connectionString="Password=;Persist Security Info=True;User ID=;Initial Catalog=;Data Source=" providerName="SQLNCLI11.1"/>
    <add name="DwConn" connectionString="Integrated Security=false;Persist Security Info=False;User ID=GNS_Smitas;Password=;Initial Catalog=afs-prd-dw;Data Source=afs-prd-d" providerName="SQLNCLI11.1"/>
    <add name="StagingConn" connectionString="Data Source=-prd-sql1;User ID=;Initial Catalog=EA_Report;Password=;" providerName="SQLNCLI11.1"/>

    <add name="ConString" connectionString="Data Source=MrL2005;Initial Catalog=Nhwind;Integrated Security=true" />
  </connectionStrings>
</configuration>
